<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Employees</h4>
  </div>

  <div class="panel-body">
    <div>
      <div>
        <input type="text" placeholder="Search employee" (input) = "searchEmployee($event.target.value)">
      </div>
      <div>
        <input type="button" class="btn btn-success btn-small float-right" value="Add New" [routerLink] = "['add']">
      </div>
    </div>
    <table class="table table-sm table-striped">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>NAME</th>
          <th>PHONE</th>
          <th>CITY</th>
          <th>POSTAL CODE</th>
          <th>ACTION</th>
        </tr>
      </thead>
      <tbody class="thead-dark">
        <tr *ngFor = "let emp of filteredEmployees">
          <td>{{emp.id}}</td>
          <td>{{emp.name}}</td>
          <td>{{emp.phone}}</td>
          <td>{{emp.address.city}}</td>
          <td>{{emp.address.postal_code}}</td>
          <button (click) = "updateEmployee(emp)">Edit</button> &nbsp;
          <button (click) = "deleteEmployee(emp.id)">Delete</button>
        </tr>
      </tbody>
    </table>
    <h5>{{noDataFound}}</h5>
  </div>

</div>
