/* You can add global styles to this file, and also import other style files */


.panel {
    width: 80%;
    margin:0 auto;
}
.panel-body {
    margin: 0 auto;
}
.panel-heading {
    margin-bottom: 11px;
}